* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

/* section class="glav" начало*/

header {
    display: flex;
}

.logo {
    margin: 30px 640px 29px 152px;

}

.nav {
    display: flex;
    margin-top: 34px;
}

li,
a {

    text-decoration: none;
    list-style-type: none;
}

header a {
    padding-right: 50px;
    color: #FFFFFF;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

}

header li a:hover {
    color: black;
    background: #FFFFFF;
    padding: 9px 20px 13px;
}

.min_icon {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    color: aliceblue;

}

.min_icon p {
    padding-left: 6px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.glav_info {
    justify-items: center;
    position: absolute;
    bottom: 10%;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
    right: 0;
    text-align: center;

}

.info {
    width: 710px;
    text-align: center;

}

.glav_info_p1 {
    color: #C0C0C0;
    font-size: 20px;
    text-transform: uppercase;

}

.info h1 {
    color: #FFFFFF;
    font-size: 54px;
    padding-bottom: 10px;
}

.glav_info_p2 {
font-size: 17px;
color: #C0C0C0;

}

/* section class="glav" конец*/

.wrapper {

}

.foto {
    flex-wrap: wrap-reverse;
    padding-left: 190px;
}

.foto img {
    padding-left: 50px;
}

.foto1 {
    padding-top: 200px;
    padding-bottom: 50px;
}

.foto_header {
    color: #FFFFFF;
    text-align: center;
}

